# Created by .ignore support plugin (hsz.mobi)

*.env
*.idea
*.pyc

# 数据
elasticsearch/data/*
kibana/data/*
marriadb/data/*
mongodb/data/*
postgresql/data/*
rabbitmq/data/*
redis/data/*

# 日志
nginx/log/*
elasticsearch/logs/*
