# Created by .ignore support plugin (hsz.mobi)

*.env
*.idea
*.pyc
*.DS_Store

# 数据
elasticsearch/data/*
elasticsearch_DEPRECATED/data/*
kibana/data/*
kibana_DEPRECATED/data/*
mariadb/data/*
mariadb/backup/*
mongodb/data/*
postgresql/data/*
rabbitmq/data/*
redis/data/*
etcd/data/*
etcd_cluster/data/*
influxdb/data/*
ClickHouse/data/*

# 日志
nginx/log/*
elasticsearch/logs/*

# 插件
elasticsearch/plugins/*

# 配置
elasticsearch/config/*
!elasticsearch/config/elasticsearch.yml


jenkins/jenkins_home/*
jenkins/jenkins_home_blueocean/*

confd/confd
confd/etc/*

nsq/archive
nsq/data

rabbitmq_cluster/data_*/

dameng/data/
