# Created by .ignore support plugin (hsz.mobi)

*.env
*.idea
*.pyc
*.DS_Store

# 数据
elasticsearch/data/*
elasticsearch_DEPRECATED/data/*
kibana/data/*
kibana_DEPRECATED/data/*
mariadb/data/*
mariadb/backup/*
mongodb/data/*
postgresql/data/*
rabbitmq/data/*
redis/data/*
etcd/data/*
etcd_cluster/data/*

# 日志
nginx/log/*
elasticsearch/logs/*
elasticsearch_DEPRECATED/logs/*

# 插件
elasticsearch/plugins/*
elasticsearch_DEPRECATED/plugins/*

# 配置
elasticsearch/config/*
elasticsearch_DEPRECATED/config/*
!elasticsearch/config/elasticsearch.yml
!elasticsearch_DEPRECATED/config/elasticsearch.yml


jenkins/jenkins_home/*
jenkins/jenkins_home_blueocean/*
